<!-- Index page will inherit the content from parent.html template -->
{% extends 'parent.html' %}

<!-- writing the code for title block -->
{% block title %}

<title>Home</title>

{% endblock title %}

<!-- This will contain the main part of the page -->
{% block main %}
<main>

    <!--heading 1-->
    <h1 class="my-3 text-center">Add a task</h1>

    <!-- form for tasks -->
    <!-- <form class="text-center">
        <div class="mb-3">
            <label for="taskTitle" class="form-label">Title</label>
            <input type="text" class="form-control" id="taskTitle">
        </div>
        <div class="mb-3">
            <label for="taskDescription" class="form-label">Description</label>
            <input type="text" class="form-control" id="taskDescription">
        </div>
        <button type="submit" class="btn btn-primary">Add</button>
    </form> -->


    <div class="container mt-4">
        <!-- Form for tasks -->
        <form class="text-center border p-4 thick-border">
            <div class="d-flex justify-content-center">
                <div class="mb-3 col-4">
                    <label for="taskTitle" class="form-label">Title</label>
                    <input type="text" class="form-control" id="taskTitle">
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <div class="mb-3 col-4">
                    <label for="taskDescription" class="form-label">Description</label>
                    <textarea class="form-control" id="taskDescription" rows="3"></textarea>
                </div>
            </div>
            <button type="submit" class="btn btn-primary btn-lg">Add</button>
        </form>
    </div>

    <!--heading 2-->
    <h1 class="my-3 text-center">Your Task's</h1>

    <!-- table for viewing the tasks -->
    <table class="table text-center">
        <thead>
            <tr>
                <th scope="col">Sno</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
            </tr>
        </tbody>
    </table>
</main>
{% endblock main %}